html {
  font-family: sans-serif;
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.header {
  display: flex;
  padding: 1rem;
  background-color: #000;
}

.header__title {
  color: #fff;
  margin: auto;
}
